.colorpicker {
	width: 220px;
	height: 220px;
	overflow: hidden;
	position: absolute;
	/*background: url(../images/colorpicker_background.png);*/
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #b1b1b1;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #888888;
    z-index: 1;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
	border: 1px solid #b1b1b1;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
	background: url(../images/colorFlow.jpg);
	border: 1px solid #b1b1b1;
}
.colorpicker_hue div {
	position: absolute;
	width: 40px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top no-repeat;
	background-size: 40px 8px;
	margin: -4px 0 0 0;
	left: -2px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	top: 180px;
	left: 14px;
	background: #f00;
	border: 1px solid #b1b1b1;
	border-radius: 3px;

}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	top: 180px;
	left: 85px;
	width: 60px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #b1b1b1;
	text-align: center;
	border-radius: 16px;
}
.colorpicker_hex input {
	font-size: 11px;
	color: #b1b1b1;
	right: 4px;
	text-align: center;
	/*border-bottom: 1px solid #E3e3e3;*/
	top: 8px;
	width: 50px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
	display: none;
}
.colorpicker_rgb_g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
	display: none;
}
.colorpicker_rgb_b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
	display: none;
}
.colorpicker_hsb_h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
	display: none;
}
.colorpicker_hsb_s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
	display: none;
}
.colorpicker_hsb_b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
	display: none;
}
.colorpicker_submit {
	position: absolute;
	width: 50px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #555;
	border-radius: 16px;
	left: 155px;
	top: 180px;
	color: #555;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
