
.site-btn {
    width: 298px;
    height: 94px;
    border-radius: 47px;
    background-color: #1875d2;
    box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.44);
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 94px;
    font-weight: 600;
}
.site-btn:hover{
    background: #EBEBEB;
    color:#1875d2;
    text-decoration: none;
}
.gray{
    background: #F4F4F4;
}
.row {
    padding: 0 30px;
}
/*
========================================
All Transition
========================================
*/
a{
    transition: 0.4s all ease;
    -webkit-transition:0.4s all ease;
    -moz-transition:0.4s all ease;
    -o-transition:0.4s all ease; 
}
/*
==============================================
Style Start
==============================================
*/
header.site-header{
    height: 357px;
    position: relative;
}
header.site-header img{
    width:100%;
}
header.site-header::after{
    position: absolute;
    content: "";
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background: url(/mobile/img/app/shadow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}
.logo {
    position: relative;
    padding-left: 140px;
    height: 115px;
}
.logo img {
    position: absolute;
    left: 0;
    width: 115px;
}
.logo h3 {
    font-size: 35px;
    line-height: 30px;
}
.logo span {
    margin-bottom: 0;
    font-size: 25px;
    color: #757575;
    line-height: 30px;
    display: block;
    margin-top: 10px;
}
.description span {
    margin-bottom: 0;
    font-size: 25px;
    color: #757575;
    line-height: 30px;
    display: block;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.general-info {
    padding-top: 20px;
}
.row.general-info-wrp {
    padding-top: 50px;
}
.share img {
    margin-top: 18px;
    cursor: pointer;
}
.button{
    padding:45px 0;
    border-bottom:2px solid #EBEBEB;
}
.states{
    padding-top:45px;
}
.border{
    height: 2px;
    background:#EBEBEB;
    margin-top:45px;
}
.state-box{
    text-align: center;
}
.state-box span {
    display: block;
    font-size: 20px;
    color: #757575;
    line-height: 25px;
    font-weight: 300;
}
.state-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.app-rating span{
    height:18px;
    display: inline-block;
}

div .star, div .count {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top:-5px;
}
.rating-count-box{
    height: 18px;
    margin-bottom: 5px;
}
.app-rating{
    padding-top:45px;
    padding-bottom:45px;
}
.overall-rating {
    font-size: 150px;
    font-weight: 300;
    color: #000;
}
.row.app-rating h2 {
    color: #000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.review-box h2 {
    font-size: 30px;
    line-height: 48px;
}

.ratings i.fa {
    color: #1E74D1;
    font-size: 45px;
}

.feedback span {
    color: #a6a6a6;
    font-size: 21px;
    font-weight: 300;
    display: inline-block;
    margin-left: 40px;
}
.comment {
    margin-top: 20px;
}
.comment.error {
    display:none;
    text-align: center;
    color:red;
}
.comment p {
    font-size: 28px;
    line-height: 42px;
    font-weight: 300;
}
.review-box {
    margin-top: 20px;
    margin-bottom: 50px;
}
button{
    font-size: 28px;
    color:#1875d2;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;
    display:inline-block;
    margin-top:50px;
    background: none;
    border:none;
}
.feedback-wrap{
    padding-bottom: 50px;
}


/*
==============================================
 PRIVACY
==============================================
*/
.privacy p {
    margin-bottom: 50px;
}
body .privacy {
    font-size: 25px;
    line-height: 32px;
}
.privacy .header{
    font-size: 28px;
}
.privacy li{
    list-style: decimal;
    margin-bottom: 14px;
}
.privacy h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
}

.ios-dev-help {
    position: absolute;
    top: 0;
    margin: 20px;
    background-color: #FFFFFF;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    z-index: 999;
    border-radius: 20px;
    padding: 20px;
    display: none;
    min-height: 2530px;
    padding-bottom: 20px;
}

.ios-dev-help .row {
    padding: 0px;
}

.help-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.help-sub-text {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.help-sub-text.footer {
    margin-top: 30px;
    margin-bottom: 50px;
}

.help-close {
    float: right;
    cursor: pointer;
}

.help-section {
    margin-top: 70px;
}

.help-section-number {
    font-size: 97px;
    font-weight: bold;
    height: 84px;
    padding-top: 20px;
    width: 60px;
}
.help-section-text {
    padding-left: 80px;
}

.help-section-image {
    padding-left: 80px;
    margin-top: 20px;
}
.download-wrapper {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    margin-top: 30px;
}
.downloading-text {
    text-align: center;
    font-size: 24px;
    color: #1c39ce;
    margin-bottom: 70px;
}
.rating-progres {
    background:#1E74D1;
}

.ok-wrapper {
    width: 105px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
/*
==============================================
 Style End
==============================================
*/

@media only screen and (max-width: 1000px) {

    .overall-rating {
        font-size: 110px;
    }
}

@media only screen and (max-width: 659px) {

    .overall-rating {
        font-size: 80px;
    }

}

@media only screen and (max-width: 479px) {

    .site-btn {
        width: 250px;
        height: 85px;
        line-height: 85px;
    }
    .button.text-right{
        text-align: center;
    }
    .feedback span {        
        margin-left:0px;
    }
    .general-info-wrp .col-xs-8, .general-info-wrp .col-xs-4{
        width:100% !important;
    }
    .share.text-right {
        text-align: left;
    }
    .logo {
        padding-left: 130px;
    }
    header.site-header {
        height: 200px;
    }
    .row.app-rating .col-xs-4 {
      width: 30%;
    }    
    .row.app-rating .col-xs-8 {
      width: 70%;
    }
    .overall-rating {
      font-size: 40px;
    }
    .paddingleft0{
        padding-left:0;
        padding-right:0;
    }

}


/*RATE PAGE STYLE*/
.shadow{
    width:100%;
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    background: rgba(0,0,0,0.7);
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease;
}
.shadow.open{
    opacity: 1;
    visibility: visible;
}
.rate-page{
    padding:40px 40px 100px 40px;
    background:#fff;
    border-radius: 20px 20px 0 0;
    position: fixed;
    width: 100%;
    top: 100px;
    z-index: 99;
    left: 0;
    max-height:100%;
    overflow-y:scroll;
    transition: 0.5s all ease;
    opacity: 0;
    visibility: hidden;
}
.rate-page.open{
    top:20px;
    opacity: 1;
    visibility: visible;
}

.rate-page h2 {
    font-size: 35px;
    font-weight: 600;
}
.ratings{
    margin:50px 0;
}
.field label{
    font-size: 25px;
    line-height: 42px;
    font-weight: 300;  
    display: block;
}
.field{
    margin-bottom: 35px;
}
.field input, .field textarea{
    border:2px solid #EBEBEB;
    background: none;
    border-radius: 35px;
    padding: 8px 15px;
    width: 100%;
}
.field textarea{
    height: 300px;
}
.field.submit input{
    background-color: #1875d2;
    display:block;
    text-align: center;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600; 
    padding:15px;
    border-radius: 50px;
    border:none;
}
.close-icon {
    padding: 0 15px 15px 15px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
	width: 50px;
}

@media only screen and (max-width: 479px) {

    .rate-page{
        padding:20px;
    }
    .field textarea{
        height: 150px;
    } 
}



/*RATE PAGE STYLE END*/
