

/*HOME PAGE STYLE*/

.home .container {
    background: #EEEEEE;
}

.search-bar{
    background:#1E74D1;
    padding:20px;
    position: relative;
}
.search-bar input {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 35px;
    padding: 10px 15px;
    color: #1875d2;
    font-size: 25px;
    font-weight: 600;
    padding-right: 60px;
}
input::-webkit-input-placeholder{
    color: #1875d2;
    font-weight: 600;
}
input::-moz-placeholder{
    color: #1875d2;
    font-weight: 600;
}
input:-moz-placeholder{
    color: #1875d2;
    font-weight: 600;
}
input::-ms-input-placeholder{
    color: #1875d2;
    font-weight: 600;
}
.submit {
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    top: 50%;
    margin-top: -22px;
    right: 36px;
}
.submit input {
    width: 100%;
    height: 100%;
    border-radius: 0;
    cursor: pointer;
    text-indent: -99px;
    background: transparent !important;
}
.submit:after {
    position: absolute;
    content: "\f002 ";
    font-family: fontawesome;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    color: #1875D2;
    font-size: 23px;
    pointer-events: none;
}



.tab-menu {
}
.tab-menu li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tab-menu li {
    text-align: center;
    float: left;
    width: 50%;
    color: #a6a6a6;
    font-size: 21px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding:15px 0;
    height: 104px;

}
.tab-menu li.active{
    color:#1E74D1;
    border-bottom: 2px solid #1E74D1;
}
.tab-menu li .green-icon{
    display: none;
}
.tab-menu li.active .green-icon{
    display: block;
}
.tab-menu li.active .normal-icon{
    display: none;
}
.tab-menu {
    background: #fff;
    border-bottom: 1px solid #EFEFEF;
}
.tab-content{
    background: #EEEEEE;
}

/*EDITOR SLIDER*/

.margin15{
    margin:5px;
}
.e-box-inner {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.section h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000;
}
.section i.fa {
    font-size: 22px;
}
.section p {
  font-size: 20px;
  color: #a6a6a6;
  line-height: 48px;
  margin-bottom: 0;
}
.e-slider-content {
    position: absolute;
    padding: 15px;
    background: rgba(255,255,255,0.9);
    padding-left: 115px;
    bottom: 0;
    width: 100%;
}
.e-slider-content img {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -34.5px;
    max-height: 69px;
}
.section h3{
    font-size: 30px;
    color: #000;
    line-height: 30px;
    margin-bottom:20px; 
    text-transform: uppercase;
    margin-left:30px;
    font-weight: 700;
}
.owl-carousel .owl-item img {
    width: auto;
}
.section {
    padding: 30px 0;
}
.editor-slider .owl-dots div {
    width: 14px;
    height: 14px;
    background: #979797;
    display: inline-block;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
}
.editor-slider .owl-dots div.active {
    background: #1E74D1;
}
.editor-slider .owl-dots {
    text-align: center;
}

/*EDITOR SLIDER END*/

/*TOP RANKED*/

.top-ranked-logo {
    width: 151px;
    height: 151px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -75.5px;
}
.t-box-inner{
    position: relative;
    padding-left: 180px;
    height: 151px;
}
.top-ranked-slider .owl-item.active .t-box-inner,
.top-rated-slider .owl-item.active .t-box-inner
{
    border-right: 1px solid #EBEBEB;
}
.section.white-bg{
    background: #fff;
    border-top:1px solid #C8C8C8;
    border-bottom:1px solid #C8C8C8;
    margin-top:25px;
    margin-bottom: 25px;
}
.t-box-inner.top-rated {
    padding-left: 0;
    position: static;
    height: auto;
}
.t-box-inner.top-rated h2 {
    font-size: 25px;
    line-height: 25px;
    margin-top:10px;
}
.section .t-box-inner.top-rated p {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.top-rated img {
    width: 151px;
    height: 151px;
}
/*TOP RANKED END*/

/*TOP DEALS*/

.top-deals-logo {
    /*width: 200px;*/
    height: 150px;
    position: absolute;
    left: 0;
}
.top-deals-logo img{
    height: 150px;
    width: 200px !important;
}

.t-box-inner.top-deals.margin15 {
    padding-left: 220px;
}
.top-deals-content h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    min-height: 65px;
}
.top-deals-author {
    position: relative;
    padding-left: 85px;
    margin-top: 16px;
    height: 69px;
}
.top-deals-author img {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -34.5px;
    height: 69px;
}
.top-deals-author h4 {
    font-size: 25px;
    line-height: 25px;
}

/*TOP DEALS END*/

/*FOOTER*/

.home footer {
    background: #EEEEEE;
    padding: 45px 20px;
}


/*HOME PAGE STYLE END*/


/*RESPONSIVE STYLE*/

@media only screen and (max-width: 659px) {

    .section h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .section p {
        font-size: 18px;
        line-height: 25px;
        margin-top: 5px;
    }
    .top-ranked-logo {
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    .t-box-inner {
        padding-left: 115px;
        height: 100px;
    }
    .top-ranked-feedback {
        line-height: 35px;
        margin-bottom: 5px;
    }
    .t-box-inner.top-rated img {
        width: 70px;
        height: 70px;
    }
    .t-box-inner.top-rated h2 {
        font-size: 20px;
    }
    .t-box-inner.top-rated {
        padding: 0 10px;
    }
    .section .t-box-inner.top-rated i.fa {
        font-size: 17px;
    }
    .top-deals-logo {
        height: 118px;
    }

    .top-deals-logo img{
        height: 118px;
        width: 150px !important;
    }


	.top-deals-content{
		margin-left: 35px;
	}
    .top-deals-logo img{
        width: 100%;
        height: 100%;
    }
    .t-box-inner.top-deals.margin15 {
        padding-left: 120px;
    }
    .top-deals-author img {
        width: 50px;
        height: 50px;
    }
    .top-deals-author {
        padding-left:65px;
        margin-top: -12px;
    }
    .top-deals-author h4 {
        font-size: 18px;
        line-height: 20px;
    }
    .top-deals-author p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 479px) {

    .e-slider-content {
        padding-left: 40px;
    }
    .e-slider-content img {
        width: 25px !important;
        height: 25px;
        left: 10px;
        margin-top: -12.5px;
    }
    .e-slider-content h2 {
        font-size: 14px;
        line-height: 17px;
    }
    .e-slider-content p {
        font-size: 11px;
        margin-top: 0;
        line-height: 12px;
    }

    .top-ranked-logo {
        width: 40px;
        height: 40px;
        top: 0;
        margin-top: 0;
    }
    .t-box-inner {
        padding-left: 50px;
        height: auto;
    }
    .top-ranked-feedback i.fa {
        font-size: 12px;
    }
    .top-ranked-slider h2 {
        font-size: 14px;
        line-height: 18px;
    }
    .top-ranked-slider p {
        font-size: 12px;
        line-height: 14px;
    }
    .top-ranked-feedback {
        line-height: 0px;
    }
    .top-deals-logo {
        width: 80px;
        height: 100%;
    }
    .t-box-inner.top-deals.margin15 {
        padding-left: 95px;
    }
    .top-deals-content h2 {
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .top-deals-author img {
        width: 35px !important;
        height: 35px;
    }
    .top-deals-author { 
        padding-left: 40px;
    }
    .top-deals-author h4 {
        font-size: 14px;
        line-height: 16px;
    }
    .top-deals-author p {
        font-size: 12px;
        line-height: 14px;
    }
    .section h3 {
        font-size: 25px;
        margin-left: 55px;
    }


}