/*/* SPINNER SECTION 

.spinner-container {width: 100%; margin: 0 auto; height: 100%;
text-align: center;}
.spinner-content {    
    margin: auto;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.contentBar {width:90px; margin:0 auto; padding-top:50px; padding-bottom:50px;}

/* stop 

.stop {
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
}

/* Loading Circle 
.ball {
	background-color: rgba(0,0,0,0);
	 
	border:5px solid #F69C73;
	
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #F150A7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin 1.5s infinite linear;
	-webkit-animation:spin 1.5s infinite linear;
}

.ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid #F3788C;
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #F150A7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff 1.5s infinite linear;
	-webkit-animation:spinoff 1.5s infinite linear;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

/* Second Loadin Circle 

.circle {
	background-color: rgba(0,0,0,0);
	border:5px solid #1875d2;
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2196f3;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid #2196f3;
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2196f3; /*#E8F4FE
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-40px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

/* LITTLE BAR 

.barlittle {
	background-color:#2187e7;  
	background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	width:10px;
	height:10px;
	float:left;
	margin-left:5px;
    opacity:0.1;
	-moz-transform:scale(0.7);
	-webkit-transform:scale(0.7);
	-moz-animation:move 1s infinite linear;
	-webkit-animation:move 1s infinite linear;
}
#block_1{
 	-moz-animation-delay: .4s;
	-webkit-animation-delay: .4s;
 }
#block_2{
 	-moz-animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
#block_3{
 	-moz-animation-delay: .2s;
	-webkit-animation-delay: .2s;
}
#block_4{
 	-moz-animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
#block_5{
 	-moz-animation-delay: .4s;
	-webkit-animation-delay: .4s;
}
@-moz-keyframes move{
	0%{-moz-transform: scale(1.2);opacity:1;}
	100%{-moz-transform: scale(0.7);opacity:0.1;}
}
@-webkit-keyframes move{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}

/* Trigger button for javascript 

.trigger, .triggerFull, .triggerBar {
	background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	display: block;
	margin: 0 auto;
	width: 140px;
}
		
.trigger:hover, .triggerFull:hover, .triggerBar:hover {
	background: -moz-linear-gradient(top, #202020 0%, #161616 100%);
	background: -webkit-linear-gradient(top, #202020 0%, #161616 100%);
}

.phone-holder-wrapper {
    width: 340px;
    height: auto;
    min-height: 700px;
}

.spinner h1{
	margin-top:12%;
}

.spinner span{
	left: 0;
	right: 0;
	margin-top: 25%;
	position: absolute;
	font-size: 20px;
	color: #9a9a9a;
}

#registerOverflow + .spinner span {
    margin-top:12%;
}*/

.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /*box-shadow: inset 0 0 0 1px rgba(255,255,255,.1);*/
  margin-left: -60px;
  margin-top: -60px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0);

  -webkit-animation: fade 0.75s infinite ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade 0.75s infinite ease-in-out; /* Firefox < 16 */
        -ms-animation: fade 0.75s infinite ease-in-out; /* Internet Explorer */
         -o-animation: fade 0.75s infinite ease-in-out; /* Opera < 12.1 */
            animation: fade 0.75s infinite ease-in-out;
}

.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  overflow: hidden;

  transform-origin: 40px 40px;
  -webkit-transform-origin: 40px 40px;
   -moz-transform-origin: 40px 40px;
   -ms-transform-origin: 40px 40px;
   -o-transform-origin: 40px 40px;

  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));

  -webkit-animation: rotate 0.75s infinite linear; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: rotate 0.75s infinite linear; /* Firefox < 16 */
        -ms-animation: rotate 0.75s infinite linear; /* Internet Explorer */
         -o-animation: rotate 0.75s infinite linear; /* Opera < 12.1 */
            animation: rotate 0.75s infinite linear;

 
}

 .loader-line {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /*box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);*/
    box-shadow: inset 0 0 0 6px #1875d2;
  }


@keyframes fade {
    0% { opacity: 1; }
    50%   { opacity: 0.25; }
}

/* Firefox < 16 */
@-moz-keyframes fade {
    0% { opacity: 1; }
    50%   { opacity: 0.25; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade {
    0% { opacity: 1; }
    50%   { opacity: 0.25; }
}

/* Internet Explorer */
@-ms-keyframes fade {
    0% { opacity: 1; }
    50%   { opacity: 0.25; }
}

/* Opera < 12.1 */
@-o-keyframes fade {
    0% { opacity: 1; }
    50%   { opacity: 0.25; }
}





@keyframes rotate {
    0% { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}

/* Firefox < 16 */
@-moz-keyframes rotate {
    0% { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes rotate {
    0% { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}

/* Internet Explorer */
@-ms-keyframes rotate {
    0% { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}

/* Opera < 12.1 */
@-o-keyframes rotate {
    0% { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}





